*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    background-color: #000000;
    height:48px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fullbody{
    height:max-content;
    background-color: #000000;
    padding: 8px;

}
.spotify-logo{
    color: white;
    font-size: 32px;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin-left: 12px;



}
.search-bar{
    display: flex;
    align-items: center;
    width: 500px;
    height: 48px;
    justify-self: center;
    
}
.home{
    background-color: #1f1f1f;
    height: 24px;
    width: 24px;
    color: white;
    font-size: 20px;
    border-style: none;
}
.circle-effect{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;


}
.search-panel{
    height: 48px;
    width: 434px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 30px;
    
}
.search-icon{
    height: 48x;
    width:48px ;
    color: white;
    font-size: 24px;
    padding-left: 14px;
}
.type-input{
    background-color: #1f1f1f;
    width: 320px;
    height: 48px;
    border-style: none;
    color: white;
    font-size: 18px;
    border:none;
    padding-top: 12px;
    padding-bottom: 12px;

}
.browse{
    height: 24px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.line{
    rotate: 90deg;
    color: white;
    font-size: 22px;

}
.browse-icon{

    padding-top: 4px;
    color: white;
    font-size: 21px;


}

.sign-up{
    background-color:#000000;
    color:#B3B3B3;
    border-style: none;
    font-weight:bold;
    font-size: 16px;
    height: 44px;
    width: 99px;
    padding: 8px 32px 8px 8px;
}
.log-in{
    background-color: #ffffff;
    color:#000000 ;
    height:48px;
    width:110px;
    border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    padding:8px 32px;
    margin-right: 12px;
}
.log-sign{
    display: flex;
}